* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans-Bold.woff2') format('woff2'),
      url('../public/fonts/DMSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans-ExtraBold.woff2') format('woff2'),
      url('../public/fonts/DMSans-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('../public/fonts/FiraCode-Regular.woff2') format('woff2'),
      url('../public/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans-Regular.woff2') format('woff2'),
      url('../public/fonts/DMSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans-SemiBold.woff2') format('woff2'),
      url('../public/fonts/DMSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../public/fonts/DMSans-Medium.woff2') format('woff2'),
      url('../public/fonts/DMSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




/* CUSTOM PROPS */
:root {
  /* FONTS */
  --dm-sans:'DM Sans', "Arial", sans-serif;
  --fira-code: "Fira Code", "Arial", sans-serif

  /* COLORS */
  --neutral-900:rgb(28, 26, 25);
  --neutral-800:rgb(32, 30, 29);
  --neutral-700:rgb(52, 48, 45);
  --neutral-600:rgb(74, 72, 70);
  --neutral-400:rgb(192, 191, 191);
  --neutral-300:rgb(222, 220, 218);
  --neutral-200:rgb(239, 237, 235);
  --neutral-100:rgb(251, 249, 247);
  --neutral-0:rgb(255,255,255);

  --blue-900:rgb(2, 43, 74);
  --blue-800:rgb(87, 146, 192);
  --blue-700:rgb(117, 176, 222);
  --blue-500:rgb(147, 206, 252);
  --blue-200:rgb(225, 241, 254);

  --green-900:rgb(19, 42, 24);
  --green-700:rgb(0, 133, 49);
  --green-500:rgb(157, 211, 169);
  --green-200:rgb(233, 245, 234);

  --yellow-900:rgb(74, 48, 3);
  --yellow-700:rgb(234, 152, 6);
  --yellow-500:rgb(250, 204, 121);
  --yellow-200:rgb(255, 245, 225);

  --red-600:rgb(217, 45, 32);
  --red-400:rgb(240, 68, 56);

}


/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--neutral-0);
  color: var(--neutral-600);
  font-family: var(--dm-sans);
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.2px;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}



/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}