.header__wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 8px;
  border-radius:10px;
  background-color: var(--neutral-0);
  border: 1px solid var(--neutral-200);
}

.active {
  border-bottom: 3px solid var(--blue-500);
}

.header__logo {
  margin-right: auto;
  display: block;
}

.header__img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius:10px;
}

.header__link {
  font-size: 16px;
  line-height: 130%;
  margin-right: 24px;
  color:var(--neutral-600);
}

.header__link:hover {
  border-bottom: 3px solid var(--blue-500);
  color:var(--neutral-700);
}